<div class="content" role="main">
  <div>
    <h2>Sirv test</h2>
    <img ngSrc="test.png" width="270" height="250" crossorigin="anonymous" />
    <img ngSrc="look.jpg" width="390" height="250" crossorigin="anonymous" />
    <img ngSrc="harris.jpg" width="390" height="250" crossorigin="anonymous" />
  </div>
</div>
<sirv-media-viewer
  id='test'
  data-options="fullscreen.enable:true;"
  [slides]="[
        'https://demo.sirv.com/demo/snug/teal-b-throw.jpg',
        'https://demo.sirv.com/demo/snug/teal.spin',
        {
            src: 'https://demo.sirv.com/demo/snug/unpacked.jpg',
            type: 'image'
        }
    ]"
></sirv-media-viewer>
<router-outlet></router-outlet>

